<h2 class="mt10">
     تخصص ها
</h2>

<mat-card class="mt5">
     <mat-card-header>
          <mat-card-title>
               <span>
                    عکاسی
               </span>
          </mat-card-title>
     </mat-card-header>
     <mat-card-content>
          <div class="specialties-container">
               <div class="specialties-icon-box">
                    <img src="../../../assets/img/photoCameraSvgrepocom.svg" alt="">
               </div>
               <mat-progress-bar mode="determinate" value="87"
                    style=" position: relative !important; "></mat-progress-bar>
               <div class="ml10">
                    <mat-chip-set class="example-chip">
                         <mat-chip class="example-box">
                              <span>
                                   % 87
                              </span>
                         </mat-chip>
                    </mat-chip-set>
               </div>
          </div>
          <span class="price priceSpan">میانگین قیمت هر شات500000 تومان</span>
     </mat-card-content>

</mat-card>