<mat-card class="example-card">
     <mat-card-header></mat-card-header>
     <mat-card-content>
      <div class="provider-online-status">
        <span class="online">انلاین</span>
      </div>
      <div class="service-provider-profile-img">
        <img class="profile-img" src="../../../assets/img/profile.png">
      </div>
      <div class="provider-name-status">
        <div class="mt-5">
          <span>   
            پارسا آبادیان 
          </span>
        </div>
        
      </div>
     </mat-card-content>
   </mat-card>