<div class="job-information-box-container">
     <div class="col">
          <span>
               <img src="../../../assets/img/camera.svg" alt="" />
               عکاس
          </span>
     </div>
     <div class="col">
          <span>
               <img src="../../../assets/img/camera.svg" alt="" />
               فیلمبردار
          </span>
     </div>
     <div class="col">
          <span>
               <img src="../../../assets/img/camera.svg" alt="" disabled />
               ایدیتور
          </span>
     </div>
</div>

<div class="experience-box-container">
     <div class="experience-box col ">
          <div class="experience">
               <span>
                    3 سال سابقه
               </span>
          </div>
     </div>
     <div class="experience-box col mr5 ml5">
          <div class="atelier">
               <span>
                    آتلیه دارد
               </span>
          </div>
     </div>
     <div class="experience-box col ml10">
          <div class="star">
               <img src="../../../assets/img/starbold.svg" alt="" />

               <span>
                    4.5
               </span>
          </div>
     </div>
</div>