@font-face {
     font-family: Yekan;
     src: url('~src/assets/fonts/IRANYekanXVFaNumVF.ttf');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: Yekan;
     src: url('~src/assets/fonts/IRANYekanXVFaNumVF.ttf');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: Yekan;
     src: url('~src/assets/fonts/IRANYekanXVFaNumVF.ttf');
     font-weight: 900;
     font-style: normal;
}

@font-face {
     font-family: Yekan;
     src: url('~src/assets/fonts/IRANYekanXVFaNumVF.ttf');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: Yekan;
     src: url('~src/assets/fonts/IRANYekanXVFaNumVF.ttf');
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: Yekan;
     src: url('~src/assets/fonts/IRANYekanXVFaNumVF.ttf');
     font-weight: 100;
     font-style: normal;
}