// :host {
//   --viewport-height: calc(100vh - 200px);
// }
.service-provider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viewport {
  margin-left: 5px;
  margin-right: 5px;
  // border: 1px solid black;
  overflow: hidden !important;
  white-space: nowrap !important;


}

.cdk-virtual-scroll-content-wrapper {
  width: 100% !important;
}

cdk-virtual-scroll-viewport {
  height: 500px;
}

.mat-mdc-tab-body {
  position: relative;
  /* or absolute or fixed */
  /* other styles */
  z-index: 1;
}

.item {
  height: 50px;
  /* Set the height of each item */
  line-height: 50px;
  /* Center text vertically within each item */
  text-align: center;
  /* Center text horizontally within each item */
  border-bottom: 1px solid #ddd;
}

.tab-content {
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden !important;
  padding: 0px;
  // background-color: #f0f0f0;
  // border-top: 1px solid #ddd;
}