mat-grid-list {

    width: calc(100vw - 20px);
    margin-bottom: 12px !important;
}





:host ::ng-deep .viewport .mdc-tab {
    /* Custom styles for .mdc-tab within the second cdk-virtual-scroll-viewport */
    padding-right: 2px !important;
    padding-left: 2px !important;
    min-width: 75px !important;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    box-sizing: border-box;
    margin: 2px;
    padding-top: 0;
    padding-bottom: 0;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 50px;
    height: 26px;
    outline: none;
    text-align: center;
    /* white-space: nowrap; */
    cursor: pointer;
    -webkit-appearance: none;

    // z-index: 1;
}

:host ::ng-deep .viewport .mdc-tab .mdc-tab-indicator__content--underline {
    border: none !important;
}

.viewport {
    margin-left: 5px;
    margin-right: 5px;
    // border: 1px solid black;
    overflow: hidden !important;
    white-space: nowrap !important;


}

.cdk-virtual-scroll-content-wrapper {
    width: 100% !important;
}

cdk-virtual-scroll-viewport {
    height: 500px;
}

.mat-mdc-tab-body {
    position: relative;
    /* or absolute or fixed */
    /* other styles */
    z-index: 1;
}

.item {
    height: 50px;
    /* Set the height of each item */
    line-height: 50px;
    /* Center text vertically within each item */
    text-align: center;
    /* Center text horizontally within each item */
    border-bottom: 1px solid #ddd;
}

.tab-content {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden !important;
    padding: 0px;
    // background-color: #f0f0f0;
    // border-top: 1px solid #ddd;
}


.gallery-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: #e0e0e000;
    border: 1px solid #878A95;
}

.selected {
    background-color: black !important;

    /* Change text color to white */
    span {
        color: white !important;
    }
}

::ng-deep .example-box.selected .mat-chip-text {
    color: white !important;
    /* Change text color to white */
}




@media only screen and (min-width: 360px) and (max-width : 375px) {

    /* Styles for small screens (e.g., mobile phones) */
    .mat-mdc-tab-labels {
        width: 65% !important;
    }
}

@media only screen and (min-width: 377px) and (max-width: 400px) {

    /* Styles for medium screens (e.g., tablets) */
    .mat-mdc-tab-labels {
        width: 100% !important;
        /* Adjust width for tablets */
    }

    .mat-mdc-tab-body-wrapper {}
}

@media only screen and (min-width: 401px) and (max-width: 430px) {

    /* Styles for medium screens (e.g., tablets) */
    .mat-mdc-tab-labels {
        width: 80% !important;
        /* Adjust width for tablets */
    }

    .mat-mdc-tab-body-wrapper {}
}

@media only screen and (min-width: 451px) and (max-width: 550px) {

    /* Styles for large screens (e.g., laptops) */
    .mat-mdc-tab-labels {
        width: 80% !important;
        /* Adjust width for laptops */
    }
}

@media only screen and (min-width: 551px) and (max-width: 600px) {

    /* Styles for large screens (e.g., laptops) */
    .mat-mdc-tab-labels {
        width: 100% !important;
        /* Adjust width for laptops */
    }

    .cdk-virtual-scroll-content-wrapper {
        width: 100% !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {

    /* Styles for large screens (e.g., laptops) */
    .mat-mdc-tab-labels {
        width: 100% !important;
        /* Adjust width for laptops */
    }

    .cdk-virtual-scroll-content-wrapper {
        width: 100% !important;
    }
}

@media only screen and (min-width: 701px) {

    /* Styles for extra large screens (e.g., large desktops) */
    .mat-mdc-tab-labels {
        width: 100% !important;
        /* Adjust width for large desktops */
    }

    .cdk-virtual-scroll-content-wrapper {
        width: 100% !important;
    }
}