.container-fluid {
    padding-bottom: calc(8vh) !important;
}

app-footer {
    width: 100% !important;
    position: fixed !important;
    bottom: 0px !important;
    z-index: 10000 !important;
    background-color: aquamarine !important;
}