.filter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    /* Adjust background color as needed */
    border-bottom: 1px solid #eaeaea;
    /* Add border as needed */
    color: #5E5E5E !important;
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 5px;
}

.filter-name {
    margin-right: 5px;
    font-weight: 400;
    font-size: 16px;
    /* Adjust spacing between name and icon */
}

.sort {
    font-weight: 400;
    font-size: 14px;
}

.filter-icon {
    font-size: 20px;
    /* Adjust icon size as needed */
}

.sorting-buttons {
    margin-left: 15px;
    margin-bottom: 10px;
    /* Adjust spacing between buttons */
}

.custom-icon {
    filter: invert(84%) sepia(123%) saturate(2397%) hue-rotate(172deg) brightness(87%) contrast(88%)
}

.horizantal-scrolling {
    // margin-bottom: -6% !important;
}
.search-section{
    padding: 10px !important;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EBEBEB;
    margin-top: 58px;
    margin-left: 10px;
    margin-right: 10px;
    input{
        border: none;
        width: 100%;
        background-color: transparent;
        margin-right: 5px;
    }
    input:focus{
        outline: none;
    }
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: #e0e0e000;
    border: 1px solid #878A95;
}
.selected{
background-color: black !important;
 /* Change text color to white */
    span{
        color: white !important;
    }
}

::ng-deep .example-box.selected .mat-chip-text {
    color: white !important; /* Change text color to white */
}