<div class="filter-section">
    <!-- Left side: Name filter and icon -->
    <div class="filter">
        <img src="../../../assets/img/setting-5.svg" alt="Instant Mix Icon" width="18">

        <span class="filter-name">
            فیلتر
        </span>

    </div>

    <!-- Right side: Sorting buttons -->
    <div class="sorting-buttons">
        <img src="../../../assets/img/arrow-3.svg" alt="Instant Mix Icon" width="18">
        <span class="sort">
            مرتب سازی
        </span>

        <!-- Add more sorting buttons as needed -->
    </div>


</div>
<div class="horizantal-scrolling" style="    margin-bottom: -20px !important;">
    <mat-chip-set>
        <mat-chip *ngFor="let vegetable of vegetables" class="example-box">{{ vegetable.name }}</mat-chip>
    </mat-chip-set>
</div>