<h2 class="mt25">
     فعالیت ها
</h2>
<div class="experience-box-container mt20">
     <div class="experience-box col ">
          <div class="experience">
               <span class="years-of-expreience">
                    3 سال
               </span>
               <span>
                    سابقه
               </span>
          </div>
     </div>

     <div class="experience-box col mr5 ml5">
          <div class="project">
               <span>
                    41
               </span>
               <span class="haveProject">
                    پروژه
               </span>
          </div>
     </div>

     <div class="experience-box col ">
          <div class="score">
               <span class="number-of-points">
                    4 از 5
               </span>
               <span>
                    امتیاز
               </span>


          </div>
     </div>
</div>

<h2 class="mt25">
     مدارک
</h2>
<div class="license-box-container">
     <div class="college ">

     </div>
</div>